<div class="row d-flex justify-content-center">
  <div class="col-md-5 card p-0 border-0">
    <div class="card-body p-0">
      <div class="sticky-top p-5 min-vh-100 d-flex align-items-center">
        <div class="text-center">
          <img
            class="profile-image circle mb-5"
            src="../../assets/person.jpg"
          />
          <h2 class="fw-bold">{{ user?.name }}</h2>
          <p>{{ user?.email }}</p>
          <p class="fst-italic">{{ user?.favoriteGenre }}</p>
          <button class="btn btn-dark" (click)="logout()">LOGOUT</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-7 card border-0 py-5 d-flex align-items-center">
    <ul *ngFor="let book of user?.books" class="list-group">
      <li class="list-group-item mb-2">
        <strong class="m-0">{{ book.title }}</strong>
        <div>{{ book.author }} ({{ book.year }})</div>
      </li>
    </ul>
  </div>
</div>
